<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
        *{
            margin:0px;
            padding: 0px;
        }
        input{
            height:30px;
            vertical-align: bottom;
        }
        img{
            border: 1px solid black;
            vertical-align: bottom;
        }

    </style>
</head>
<body>
    <form action="./index/index/check" method="POST">
        <input type="text" name="code" required="required">
        {include file="code.html"}
    </form>
</body>
</html>